.content {
  width: inherit;
}

.side_navi {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;
  background-color: #fbda98;
}

.focus_navi_item {
  background-color: lavender;
  padding: 0 3px;
}
