.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: yellow;
}

.main {
  flex: 1;
  /* padding: 2%; */
}

.footer {
  background: blue;
  flex-grow: 0;
  flex-shrink: 0;
}
