.content {
  display: flex;
  flex-direction: row;
}

.side_navi {
  display: flex;
  flex-direction: column;
}

.container {
  width: inherit;
  flex-wrap: wrap;
}

.container img {
  width: 200px;
}
